<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- Bootstrap CDN --}}
	<link rel='stylesheet' type='text/css'
		href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
	{{!-- Style CSS --}}
	<link rel='stylesheet' type='text/css' href='/assets/css/style.css'>
	<title>Burger Shack</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>